@import "tailwindcss";


body {
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
